* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #15163f, #1f5b83);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-blend-mode: overlay;
    background-size: cover;

}

.container {
    background: rgba(44, 22, 7, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(58, 55, 212, 0.5);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    backdrop-filter: blur(4px);
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fffefa;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1rem;
}

label,
input {
    display: block;
    width: 100%;
}


label {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.3rem;
}

input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    background-color: rgba(255, 250, 240, 0.9);
    font-family: 'Georgia', serif;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    background-color: #fff5cc;
}

input,
.submit-btn {
    display: block;
    width: 100%;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #15163f, #1f5b83);
    color: #f5deb3;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
}

.submit-btn:hover {
    background: linear-gradient(45deg, #15163f, #1f5b83);
    transform: scale(1.01);
}